@use "../variables" as *;
@use "../colors" as *;
@use "../utils" as *;
@use "../breakpoints" as *;

.gradient-wrapper {
  background: linear-gradient(180deg, rgba(247, 37, 133, 0.61), rgba(76, 201, 240, 0.58));
  min-height: 100vh;
}

.hero-section {

  * {
    font-family: montserrat;
  }

  @include main-padding;

  padding: {
    top: 8rem;
    bottom: 8rem;
  }

  ;
  display: flex;
  justify-content: space-between;

  .right {
    position: relative;
    width: 50%;
  }

  .left {
    max-width: 50%;
  }

  #img1 {
    position: absolute;
    top: 130px;
    transform: translateX(100px);
    width: 330px;
    height: auto;
  }

  #img2 {
    position: absolute;
    top: -120px;
    transform: translateX(250px);
    width: 240px;
    height: auto;
  }


  .heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .desc {
    font-size: 1rem;
    color: #202020;
    margin-bottom: 1rem;
  }


  .input-wrapper {
    background-color: white;
    height: 35px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: .8rem;
    padding: .25rem 1.2rem;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  input {
    font-size: 1.1rem;
    background-color: transparent;
    outline: none;
    // border: 1px solid red;
    border: 0;
    justify-self: stretch;
    height: 100%;
    width: 100%;
  }

  .search-icon {
    fill: $light-blue;
    width: 35px;
    height: auto;
    transition: fill .05s ease-in;
  }

  .search-icon:hover {
    fill: $light-blue-shade;
  }

  .search-icon:hover {
    cursor: pointer;
  }


  @include md() {
    flex-direction: column;

    padding: {
      top: 4rem;
      bottom: 4rem;
    }

    ;

    .left {
      max-width: 70%;
    }

    .heading {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }

    .desc {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    input {
      // font-size: 1rem;
    }

    .input-wrapper {
      width: 70%;
    }

    #img1 {
      top: 0;
      right: 100px;
      transform: translateX(0px);
      width: 260px;
    }

    #img2 {
      top: -250px;
      transform: translateX(0px);
      right: 0;
      width: 200px;
    }

    .right {
      width: 100%;
    }

  }

  @include sm() {
    padding: {
      top: 2rem;
      bottom: 2rem;
    }

    .left {
      max-width: 100%;
    }

    input {
      font-size: 1rem;
    }

    .heading {
      font-size: 1.5rem;
    }

    .desc {
      font-size: 1rem;
    }

    #img1 {
      right: 148px;
      width: 160px;
      left: 0;
      transform: scaleX(-100%);
    }

    #img2 {
      right: 0px;
      top: 0px;
      width: 150px;
    }

  }

}
