@use "../variables" as *;
@use "../colors" as *;
@use "../utils" as *;
@use "../breakpoints" as *;
@use "../components/nav" as *;
@use "../components/stats_table" as *;

.nav-wrapper {

  @include pink-nav();
}


.profile-wrapper {
  background-color: #008348;

}

.profile {
  * {
    font-family: poppins
  }

  @include main-padding;
  display: flex;

  padding: {
    top: 3rem;
  }

  ;

  .images {
    margin-right: 1rem;
    display: flex;


    #player {
      width: 350px;
      height: auto;
      align-self: flex-end;
    }

    #team {
      width: 120px;
      height: auto;
      align-self: flex-start;
    }

  }

  .main-info {
    margin-right: 5rem;

    .name {
      font-size: 2rem;
      color: white;
      font-weight: 700;
    }

    .desc {
      font-size: 1rem;
      color: $white-dark;
      margin-bottom: 2rem;
    }

    .main-stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .5rem;
    }

    .stat {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(231, 245, 239, 1);
      border-radius: 44rem;
      padding: .5rem 1rem;
      max-width: 100px;

      .stat-value,
      .stat-name {
        color: black;
      }

      .stat-value {
        font-weight: 500;
        font-size: 1.1rem;
      }

      .stat-name {
        font-size: 1rem;
      }
    }

  }

  .other-info {
    width: 30%;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    .info {
      margin-bottom: 2rem;
      margin-right: 2rem;
      align-self: center;
      display: flex;
      align-items: center;
    }

    .info-icon {
      width: 30px;
      height: auto;
      fill: white;
      margin-right: .4rem;
    }

    .info-text {
      display: flex;
      flex-direction: column;
      line-height: 20px;

      .info-name {
        color: $white-dark;
        font-size: .9rem;
      }

      .info-value {
        color: white;
        font-size: 1rem;
        font-weight: 500;
      }
    }

  }

  @include md() {
    flex-wrap: wrap;

    .main-info {
      margin-right: 0;
    }

    .name {
      font-size: 1.5rem;
    }

    .desc {
      font-size: .8rem;
    }

    .images {

      #player {
        width: 250px;
      }

      #team {
        width: 100px;
      }
    }

    .stats {

      .stat {
        max-width: 200px;

        .stat-name {
          font-size: .9rem;
        }

        .stat-value {
          font-size: 1rem;
        }
      }
    }

    .other-info {
      margin-top: 2rem;
      width: unset;
    }
  }

  @include sm() {
    .images {
      #player {
        width: 190px;
      }

      #team {
        width: 90px;
      }
    }

    .main-stats {
      .stat {
        padding: .4rem .9rem;
        max-width: 80px;

        .stat-name {
          font-size: .85rem;
        }

        .stat-value {
          font-size: .95rem;
        }
      }
    }

    .other-info {
      .info {
        .info-icon {
          width: 27px;
        }

        .info-name {
          font-size: .85rem;
        }

        .info-value {
          font-size: .95rem;
        }
      }
    }
  }
}


.stats-table-wrapper {
  margin-top: 4rem;
  @include stats-table-wrapper(black, #212121, white, white, white, black);
  @include sm() {
    margin-top: 2rem;
  }
}
