@use "../variables" as *;
@use "../colors" as *;
@use "../utils" as *;
@use "../breakpoints" as *;
@use "../components/nav" as *;


.gradient-wrapper {
  background: linear-gradient(180deg, rgba(247, 37, 133, 0.61), rgba(76, 201, 240, 0.58));
  min-height: 100vh;
}


.nav-wrapper {
  @include nav-wrapper(white);

  .nav-item:hover,
  .nav-heading:hover {
    color: rgb(246, 246, 246);
  }
}


.results {
  * {
    font-family: poppins
  }

  margin-top: 8rem;
  @include main-padding;

  .info-text {
    display: flex;
    margin-bottom: 4rem;

    .main {
      font-size: 1.5rem;
      color: black;
      font-weight: 500;
    }


    .query {
      font-size: 1.5rem;
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

.repr-card {
  margin-bottom: 2rem;
  border-radius: .5rem;
  width: 400px;
  padding: .8rem 1.25rem;
  background-color: white;
  display: flex;
  align-items: center;

  img {
    object-fit: cover;
    width: 60px;
    height: auto;
    margin-right: 1rem;
  }

  .row {
    display: flex;
    align-items: center;
  }

  .name {
    margin-right: .5rem;
    font-size: 1.25rem;
    color: black;
    font-weight: 600;
  }

  .number {
    font-size: 1rem;
    color: rgb(50, 50, 50);
  }

  .team {
    font-size: 1rem;
    color: rgb(50, 50, 50);
  }
}
