@use "../variables" as *;
@use "../colors" as *;
@use "../utils" as *;
@use "../breakpoints" as *;
@use "../components/nav" as *;

.gradient-wrapper {
  background: linear-gradient(180deg, rgba(247, 37, 133, 0.61), rgba(76, 201, 240, 0.58));
  min-height: 100vh;
}

.nav-wrapper {
  @include nav-wrapper(white);

  .nav-item:hover,
  .nav-heading:hover {
    color: rgb(246, 246, 246);
  }
}

.divisions-container {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;

  * {
    font-family: poppins;
  }

  @include main-padding;

  .division {
    width: 33.33%;
    margin-bottom: 2.5rem;

    .heading {
      text-transform: uppercase;
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

  }

  .team {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .name {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
  }

  .team-image {
    width: 50px;
    height: auto;
    margin-right: 1rem;
  }

  @include md() {
    .division {
      width: 50%;

      .team-image {
        margin-right: .75rem;
      }
    }
  }

  @include sm() {
    .division {
      width: 100%;
      margin-bottom: 1.5rem;

      .heading {
        font-size: 1.25rem;
      }

      .team {
        margin-bottom: .75rem;

        .name {
          font-size: 1.1rem;
        }
      }
    }
  }

}
