.gradient-wrapper {
  background: linear-gradient(180deg, rgba(247, 37, 133, 0.61), rgba(76, 201, 240, 0.58));
  min-height: 100vh;
}

.nav-wrapper .nav {
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
  font-family: montserrat;
}
@media screen and (max-width: 1024px) {
  .nav-wrapper .nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 578px) {
  .nav-wrapper .nav {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.nav-wrapper .nav .nav-heading {
  font-size: 1.6rem;
  font-weight: 500;
}
.nav-wrapper .nav .nav-heading,
.nav-wrapper .nav .nav-item {
  color: white;
  transition: color 0.09s ease-in;
}
.nav-wrapper .nav .nav-item {
  font-size: 1.2rem;
  margin-right: 1.5rem;
  font-weight: 500;
}
.nav-wrapper .nav .nav-item:last-of-type {
  margin-right: 0;
}
.nav-wrapper .nav .nav-items {
  margin-left: 8rem;
  justify-self: center;
}
@media screen and (max-width: 1024px) {
  .nav-wrapper .nav {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .nav-wrapper .nav .nav-heading {
    font-size: 1.75rem;
  }
  .nav-wrapper .nav .nav-item {
    font-size: 1.3rem;
  }
  .nav-wrapper .nav .nav-items {
    margin-left: 4rem;
  }
}
@media screen and (max-width: 578px) {
  .nav-wrapper .nav .nav-heading {
    font-size: 1.5rem;
  }
  .nav-wrapper .nav .nav-item {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .nav-wrapper .nav .nav-items {
    margin-left: 1rem;
  }
}
.nav-wrapper .nav-item:hover,
.nav-wrapper .nav-heading:hover {
  color: rgb(246, 246, 246);
}

.hero-section {
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-between;
}
.hero-section * {
  font-family: montserrat;
}
@media screen and (max-width: 1024px) {
  .hero-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 578px) {
  .hero-section {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.hero-section .right {
  position: relative;
  width: 50%;
}
.hero-section .left {
  max-width: 50%;
}
.hero-section #img1 {
  position: absolute;
  top: 130px;
  transform: translateX(100px);
  width: 330px;
  height: auto;
}
.hero-section #img2 {
  position: absolute;
  top: -120px;
  transform: translateX(250px);
  width: 240px;
  height: auto;
}
.hero-section .heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.hero-section .desc {
  font-size: 1rem;
  color: #202020;
  margin-bottom: 1rem;
}
.hero-section .input-wrapper {
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 0.8rem;
  padding: 0.35rem 1.2rem;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.hero-section input {
  font-size: 1.2rem;
  background-color: transparent;
  outline: none;
  border: 0;
  justify-self: stretch;
  height: 100%;
  width: 100%;
}
.hero-section .search-icon {
  fill: #4CC9F0;
  width: 35px;
  height: auto;
  transition: fill 0.05s ease-in;
}
.hero-section .search-icon:hover {
  fill: #16b8e9;
}
.hero-section .search-icon:hover {
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .hero-section .left {
    max-width: 70%;
  }
  .hero-section .heading {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .hero-section .desc {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .hero-section .input-wrapper {
    width: 70%;
  }
  .hero-section #img1 {
    top: 0;
    right: 100px;
    transform: translateX(0px);
    width: 260px;
  }
  .hero-section #img2 {
    top: -250px;
    transform: translateX(0px);
    right: 0;
    width: 200px;
  }
  .hero-section .right {
    width: 100%;
  }
}
@media screen and (max-width: 578px) {
  .hero-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hero-section .left {
    max-width: 100%;
  }
  .hero-section input {
    font-size: 1rem;
  }
  .hero-section .heading {
    font-size: 1.5rem;
  }
  .hero-section .desc {
    font-size: 1rem;
  }
  .hero-section #img1 {
    right: 148px;
    width: 160px;
    left: 0;
    transform: scaleX(-100%);
  }
  .hero-section #img2 {
    right: 0px;
    top: 0px;
    width: 150px;
  }
}