.nav-wrapper {
  background: linear-gradient(90deg, rgba(247, 37, 133, 0.2), rgba(247, 37, 133, 0.1));
}
.nav-wrapper .nav {
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 1440px;
  margin: 0 auto;
  font-family: montserrat;
}
@media screen and (max-width: 1024px) {
  .nav-wrapper .nav {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 578px) {
  .nav-wrapper .nav {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.nav-wrapper .nav .nav-heading {
  font-size: 1.6rem;
  font-weight: 500;
}
.nav-wrapper .nav .nav-heading,
.nav-wrapper .nav .nav-item {
  color: black;
  transition: color 0.09s ease-in;
}
.nav-wrapper .nav .nav-item {
  font-size: 1.2rem;
  margin-right: 1.5rem;
  font-weight: 500;
}
.nav-wrapper .nav .nav-item:last-of-type {
  margin-right: 0;
}
.nav-wrapper .nav .nav-items {
  margin-left: 8rem;
  justify-self: center;
}
@media screen and (max-width: 1024px) {
  .nav-wrapper .nav {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .nav-wrapper .nav .nav-heading {
    font-size: 1.75rem;
  }
  .nav-wrapper .nav .nav-item {
    font-size: 1.3rem;
  }
  .nav-wrapper .nav .nav-items {
    margin-left: 4rem;
  }
}
@media screen and (max-width: 578px) {
  .nav-wrapper .nav .nav-heading {
    font-size: 1.5rem;
  }
  .nav-wrapper .nav .nav-item {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .nav-wrapper .nav .nav-items {
    margin-left: 1rem;
  }
}
.nav-wrapper .nav-item:hover,
.nav-wrapper .nav-heading:hover {
  color: #35091b;
}

.team-profile-wrapper {
  background-color: #008348;
}

.team-profile {
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
}
.team-profile * {
  font-family: poppins;
}
@media screen and (max-width: 1024px) {
  .team-profile {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 578px) {
  .team-profile {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.team-profile #team {
  width: 300px;
  height: auto;
  margin-right: 2rem;
}
.team-profile .name {
  font-size: 2rem;
  color: white;
  font-weight: 700;
}
.team-profile .desc {
  font-size: 1rem;
  color: #F5F5F5;
  margin-bottom: 2rem;
}
.team-profile .stats {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  grid-row: 2;
  grid-column: 1/4;
}
.team-profile .stats .stat {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E7F5EF;
  margin-right: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 0.65rem;
}
.team-profile .stats .stat:last-child {
  margin-right: 0;
}
.team-profile .stats .stat-name {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}
.team-profile .stats .stat-rank {
  font-size: 1.3rem;
  font-weight: 500;
  color: black;
}
.team-profile .stats .stat-value {
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
}
@media screen and (max-width: 1024px) {
  .team-profile #team {
    width: 220px;
  }
  .team-profile .stats .stat {
    margin-right: 1rem;
    padding: 0.9rem 1.3rem;
  }
  .team-profile .stats .stat .stat-name,
  .team-profile .stats .stat .stat-value {
    font-size: 1rem;
  }
  .team-profile .stats .stat .stat-rank {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 578px) {
  .team-profile #team {
    width: 160px;
    margin-right: 1rem;
  }
  .team-profile .name {
    font-size: 1.75rem;
  }
  .team-profile .desc {
    font-size: 0.9rem;
  }
  .team-profile .stats {
    grid-column: 1/3;
  }
  .team-profile .stats .stat {
    padding: 0.8rem 1rem;
  }
  .team-profile .stats .stat .stat-name,
  .team-profile .stats .stat .stat-value {
    font-size: 1rem;
  }
  .team-profile .stats .stat .stat-rank {
    font-size: 1.1rem;
  }
}

.info-cards-wrapper {
  margin-top: 2rem;
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
  .info-cards-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 578px) {
  .info-cards-wrapper {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.info-card {
  margin-right: 2rem;
  min-width: 280px;
  background: linear-gradient(180deg, #008348, #006a3a);
  padding: 1.25rem 1.5rem;
  border-radius: 0.65rem;
  display: flex;
  flex-direction: column;
  color: white;
}
.info-card * {
  font-family: poppins;
}
.info-card .heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 1rem;
}
.info-card .header {
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
}
.info-card table {
  color: white;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0rem 0.75rem;
}
.info-card table th {
  vertical-align: top;
  font-weight: 700;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.info-card table td {
  padding: 0;
  margin: 0;
  vertical-align: top;
  font-size: 1rem;
}
.info-card .icon {
  width: 35px;
  height: auto;
  fill: white;
}
@media screen and (max-width: 1024px) {
  .info-card {
    padding: 1rem 1.25rem;
    min-width: 280px;
  }
  .info-card .header .heading {
    font-size: 1.3rem;
  }
  .info-card table th,
  .info-card table td {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 578px) {
  .info-card {
    padding: 0.9rem 0.9rem;
    min-width: 250px;
  }
  .info-card .header .heading {
    font-size: 1.3rem;
  }
  .info-card table th,
  .info-card table td {
    font-size: 0.9rem;
  }
}

.stats-table-wrapper {
  margin-top: 4rem;
  max-width: 1440px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1024px) {
  .stats-table-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 578px) {
  .stats-table-wrapper {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
.stats-table-wrapper * {
  font-family: poppins;
}
.stats-table-wrapper .table-heading {
  padding: 0.75rem 1rem;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border-top-right-radius: 0.65rem;
  border-top-left-radius: 0.65rem;
  text-align: left;
  background-color: black;
}
.stats-table-wrapper .stats-table-content-wrapper {
  overflow-x: auto;
  padding: 0.75rem 1rem;
  background: #212121;
  border-bottom-left-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
}
.stats-table-wrapper table {
  overflow-x: scroll;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  width: 100%;
  border-bottom-left-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
}
.stats-table-wrapper table th,
.stats-table-wrapper table td {
  min-width: 50px;
  white-space: nowrap;
}
.stats-table-wrapper table thead th {
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
  text-align: left;
}
.stats-table-wrapper table thead th:first-child {
  padding-right: 2rem;
  padding-left: 1rem;
}
.stats-table-wrapper table tbody tr {
  background-color: transparent;
}
.stats-table-wrapper table tbody tr td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  background-color: white;
}
.stats-table-wrapper table tbody tr td:first-child {
  font-weight: 500;
  padding-left: 1rem;
  border-top-left-radius: 0.65rem;
  border-bottom-left-radius: 0.65rem;
}
.stats-table-wrapper table tbody tr td:last-child {
  border-top-right-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
}
@media screen and (max-width: 578px) {
  .stats-table-wrapper .table-heading {
    font-size: 0.9rem;
  }
  .stats-table-wrapper thead th {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 578px) {
  .stats-table-wrapper {
    margin-top: 2rem;
  }
}