<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="../public/css/page/game.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

</head>

<body>
    <div class="gradient-wrapper">

        <div class="nav-wrapper">
            
            <nav class="nav">
                <a class="nav-heading">statspage</a>
                <div class="nav-items">
                    <a href="" class="nav-item">teams</a>
                    <a href="" class="nav-item">players</a>
                    <a href="" class="nav-item">game</a>
                </div>
            </nav>
        </div>

        <div class="game-info">
            <img src="https://cdn.nba.com/logos/nba/1610612751/global/L/logo.svg" alt="team logo 1" id="team1">
            <div class="text">
                <div class="summary">
                    Tatum, brown lead celtics past hornets in preseason
                </div>
                <div class="result">132 - 96</div>
                <div class="location">TD Garden, Boston</div>
            </div>
            <img src="https://cdn.nba.com/logos/nba/1610612738/global/L/logo.svg" alt="team logo 2" id="team2">
        </div>
    </div>

    <div class="other-info">

    <div class="stats-table-wrapper">
        <div class="table-heading">Career Regular Season Stats</div>
        <div class="stats-table-content-wrapper">
  
  
          <table class="stats-table">
  
            <thead>
              <tr>
                <th>SEASON</th>
                <th>TEAM</th>
                <th>AGE</th>
                <th>GP</th>
                <th>GS</th>
                <th>MIN</th>
                <th>PTS</th>
                <th>FGM</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3PM</th>
                <th>3PA</th>
                <th>3P%</th>
                <th>FTM</th>
                <th>FTA</th>
                <th>FT%</th>
                <th>OREB</th>
                <th>DREB</th>
                <th>REB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>PF</th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
              <tr>
                <td>2022-23</td>
                <td>BOS</td>
                <td>24</td>
                <td>57</td>
                <td>57</td>
  
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>54.3</td>
                <td>21.94</td>
                <td>2.24</td>
                <td>-20.4</td>
                <td>20.5</td>
                <td>0.5</td>
                <td>43.1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</body>

</html>
