<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="../public/css/page/game.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

</head>

<body>
    <div class="gradient-wrapper">

        <div class="nav-wrapper">
            
            <nav class="nav">
                <a class="nav-heading">statspage</a>
                <div class="nav-items">
                    <a href="" class="nav-item">teams</a>
                    <a href="" class="nav-item">players</a>
                    <a href="" class="nav-item">game</a>
                </div>
            </nav>
        </div>

        <div class="game-info">
            <img src="https://cdn.nba.com/logos/nba/1610612751/global/L/logo.svg" alt="team logo 1" id="team1">
            <div class="text">
                <div class="summary">
                    Tatum, brown lead celtics past hornets in preseason
                </div>
                <div class="result">132 - 96</div>
                <div class="location">TD Garden, Boston</div>
            </div>
            <img src="https://cdn.nba.com/logos/nba/1610612738/global/L/logo.svg" alt="team logo 2" id="team2">
        </div>
    </div>

</body>

</html>
