<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/page/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

  <div class="gradient-wrapper">
    <div class="nav-wrapper">

      <nav class="nav">
        <a class="nav-heading">statspage</a>
        <div class="nav-items">
          <a href="" class="nav-item">teams</a>
          <a href="" class="nav-item">players</a>
          <a href="" class="nav-item">game</a>
        </div>
      </nav>
    </div>

    <div class="hero-section">
      <div class="left">
        <div class="heading">Search for any game Lorem ipsum dolor sit amet.</div>
        <div class="desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla culpa sequi nam officiis quod
          reiciendis.
        </div>
        <form action="">

          <div class="input-wrapper">
            <input type="text" placeholder="Search teams, players, games">
            <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M796 935 533 672q-30 26-69.959 40.5T378 727q-108.162 0-183.081-75Q120 577 120 471t75-181q75-75 181.5-75t181 75Q632 365 632 471.15 632 514 618 554q-14 40-42 75l264 262-44 44ZM377 667q81.25 0 138.125-57.5T572 471q0-81-56.875-138.5T377 275q-82.083 0-139.542 57.5Q180 390 180 471t57.458 138.5Q294.917 667 377 667Z" />
            </svg>
          </div>
        </form>
      </div>

      <div class="right">
        <img src="/assets/curry.png" class="hero-img" alt="steph curry" id="img1">
        <img src="/assets/harden.png" class="hero-img" alt="james harden" id="img2">
      </div>
    </div>
  </div>

</body>

</html>
