<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="../public/css/page/player.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  <title>Document</title>
</head>

<body>
  <div class="nav-wrapper">

    <nav class="nav">
      <a class="nav-heading">statspage</a>
      <div class="nav-items">
        <a href="" class="nav-item">teams</a>
        <a href="" class="nav-item">players</a>
        <a href="" class="nav-item">game</a>
      </div>
    </nav>
  </div>

  <main>

    <div class="profile-wrapper">

      <div class="profile">
        <div class="images">
          <img src="../public/assets/1628369.webp" id="player" alt="player image">
          <img src="../public/assets/logo.svg" id="team" alt="team image">
        </div>

        <div class="main-info">
          <div class="name">Jayson Tatum</div>
          <div class="desc">Boston Celtics · #0 · Forward-Guard</div>
          <div class="main-stats">
            <div class="stat">
              <div class="stat-name">PPG</div>
              <div class="stat-value">30.6</div>
            </div>
            <div class="stat">
              <div class="stat-name">PPG</div>
              <div class="stat-value">30.6</div>
            </div>
            <div class="stat">
              <div class="stat-name">PPG</div>
              <div class="stat-value">30.6</div>
            </div>
            <div class="stat">
              <div class="stat-name">PPG</div>
              <div class="stat-value">30.6</div>
            </div>
          </div>
        </div>

        <div class="other-info">
          <div class="info">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M200 936V256h343l19 86h238v370H544l-18.933-85H260v309h-60Zm300-452Zm95 168h145V402H511l-19-86H260v251h316l19 85Z" />
            </svg>
            <div class="info-text">
              <div class="info-name">Country</div>
              <div class="info-value">USA</div>
            </div>
          </div>
          <div class="info">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M200 936V256h343l19 86h238v370H544l-18.933-85H260v309h-60Zm300-452Zm95 168h145V402H511l-19-86H260v251h316l19 85Z" />
            </svg>
            <div class="info-text">
              <div class="info-name">Country</div>
              <div class="info-value">USA</div>
            </div>
          </div>
          <div class="info">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M200 936V256h343l19 86h238v370H544l-18.933-85H260v309h-60Zm300-452Zm95 168h145V402H511l-19-86H260v251h316l19 85Z" />
            </svg>
            <div class="info-text">
              <div class="info-name">Country</div>
              <div class="info-value">USA</div>
            </div>
          </div>
          <div class="info">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M200 936V256h343l19 86h238v370H544l-18.933-85H260v309h-60Zm300-452Zm95 168h145V402H511l-19-86H260v251h316l19 85Z" />
            </svg>
            <div class="info-text">
              <div class="info-name">Country</div>
              <div class="info-value">USA</div>
            </div>
          </div>
          <div class="info">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M200 936V256h343l19 86h238v370H544l-18.933-85H260v309h-60Zm300-452Zm95 168h145V402H511l-19-86H260v251h316l19 85Z" />
            </svg>
            <div class="info-text">
              <div class="info-name">Country</div>
              <div class="info-value">USA</div>
            </div>
          </div>
          <div class="info">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M200 936V256h343l19 86h238v370H544l-18.933-85H260v309h-60Zm300-452Zm95 168h145V402H511l-19-86H260v251h316l19 85Z" />
            </svg>
            <div class="info-text">
              <div class="info-name">Country</div>
              <div class="info-value">USA</div>
            </div>
          </div>
          <div class="info">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M200 936V256h343l19 86h238v370H544l-18.933-85H260v309h-60Zm300-452Zm95 168h145V402H511l-19-86H260v251h316l19 85Z" />
            </svg>
            <div class="info-text">
              <div class="info-name">Country</div>
              <div class="info-value">USA</div>
            </div>
          </div>
          <div class="info">
            <svg class="info-icon" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48">
              <path
                d="M200 936V256h343l19 86h238v370H544l-18.933-85H260v309h-60Zm300-452Zm95 168h145V402H511l-19-86H260v251h316l19 85Z" />
            </svg>
            <div class="info-text">
              <div class="info-name">Country</div>
              <div class="info-value">USA</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>


</body>

</html>
