<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/page/teams.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  <title>Document</title>
</head>

<body>

  <div class="gradient-wrapper">
    <%- include("./partials/nav.ejs") %>

    <div class="divisions-container">

      <div class="division">
        <div class="heading">
          Atlantic
        </div>

        <a href="/team/1610612738" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612738/global/L/logo.svg" alt="team image">
          <div class="name">Boston Celtics</div>
        </a>

        <a href="/team/1610612751" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612751/global/L/logo.svg" alt="team image">
          <div class="name">Brooklyn Nets</div>
        </a>

        <a href="/team/1610612752" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612752/global/L/logo.svg" alt="team image">
          <div class="name">New York Knicks</div>
        </a>

        <a href="/team/1610612755" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612755/global/L/logo.svg" alt="team image">
          <div class="name">Philadelphia 76ers</div>
        </a>

        <a href="/team/1610612761" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612761/global/L/logo.svg" alt="team image">
          <div class="name">Toronto Raptors</div>
        </a>

      </div>

      <div class="division">
        <div class="heading">
          Central
        </div>

        <a href="/team/1610612741" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612741/global/L/logo.svg" alt="team image">
          <div class="name">Chicago Bulls</div>
        </a>

        <a href="/team/1610612739" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612739/global/L/logo.svg" alt="team image">
          <div class="name">Cleveland Cavaliers</div>
        </a>

        <a href="/team/1610612765" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612765/global/L/logo.svg" alt="team image">
          <div class="name">Detroit Pistons</div>
        </a>

        <a href="/team/1610612754" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612754/global/L/logo.svg" alt="team image">
          <div class="name">Indiana Pacers</div>
        </a>

        <a href="/team/1610612749" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612749/global/L/logo.svg" alt="team image">
          <div class="name">Milwaukee Bucks</div>
        </a>

      </div>

      <div class="division">
        <div class="heading">
          Southeast
        </div>

        <a href="/team/1610612737" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612737/global/L/logo.svg" alt="team image">
          <div class="name">Atlanta Hawks</div>
        </a>
        <a href="/team/1610612766" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612766/global/L/logo.svg" alt="team image">
          <div class="name">Charlotte Hornets</div>
        </a>
        <a href="/team/1610612748" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612748/global/L/logo.svg" alt="team image">
          <div class="name">Miami Heat</div>
        </a>
        <a href="/team/1610612753" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612753/global/L/logo.svg" alt="team image">
          <div class="name">Orlando Magic</div>
        </a>
        <a href="/team/1610612764" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612764/global/L/logo.svg" alt="team image">
          <div class="name">Washington Wizard</div>
        </a>


      </div>

      <div class="division">
        <div class="heading">
          Northwest
        </div>

        <a href="/team/1610612743" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612743/global/L/logo.svg" alt="team image">
          <div class="name">Denver Nuggets</div>
        </a>
        <a href="/team/1610612750" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612750/global/L/logo.svg" alt="team image">
          <div class="name">Minnesota Timberwolves</div>
        </a>
        <a href="/team/1610612760" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612760/global/L/logo.svg" alt="team image">
          <div class="name">Oklahoma City Thunder</div>
        </a>
        <a href="/team/1610612757" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612757/global/L/logo.svg" alt="team image">
          <div class="name">Portland Trail Blazers</div>
        </a>
        <a href="/team/1610612762" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612762/global/L/logo.svg" alt="team image">
          <div class="name">Utah Jazz</div>
        </a>

      </div>

      <div class="division">
        <div class="heading">
          Pacific
        </div>

        <a href="/team/1610612744" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612744/global/L/logo.svg" alt="team image">
          <div class="name">Golden State Warriors</div>
        </a>
        <a href="/team/1610612746" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612746/global/L/logo.svg" alt="team image">
          <div class="name">LA Clippers</div>
        </a>
        <a href="/team/1610612747" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612747/global/L/logo.svg" alt="team image">
          <div class="name">Los Angeles Lakers</div>
        </a>
        <a href="/team/1610612756" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612756/global/L/logo.svg" alt="team image">
          <div class="name">Phoenix Suns</div>
        </a>
        <a href="/team/1610612758" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612758/global/L/logo.svg" alt="team image">
          <div class="name">Sacramento Kings</div>
        </a>

      </div>
      <div class="division">
        <div class="heading">
          Pacific
        </div>

        <a href="/team/1610612742" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612742/global/L/logo.svg" alt="team image">
          <div class="name">Dallas Mavericks</div>
        </a>
        <a href="/team/1610612745" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612745/global/L/logo.svg" alt="team image">
          <div class="name">Houston Rockets</div>
        </a>
        <a href="/team/1610612763" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612763/global/L/logo.svg" alt="team image">
          <div class="name">Memphis Grizzlies</div>
        </a>
        <a href="/team/1610612740" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612740/global/L/logo.svg" alt="team image">
          <div class="name">New Orleans Pelicans</div>
        </a>
        <a href="/team/1610612759" class="team">
          <img class="team-image" src="https://cdn.nba.com/logos/nba/1610612759/global/L/logo.svg" alt="team image">
          <div class="name">San Antonio Spurs</div>
        </a>

      </div>

    </div>

  </div>


</body>

</html>
