<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="../public/css/page/team.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

  <title>Document</title>
</head>

<body>

  <div class="nav-wrapper">

    <nav class="nav">
      <a class="nav-heading">statspage</a>
      <div class="nav-items">
        <a href="" class="nav-item">teams</a>
        <a href="" class="nav-item">players</a>
        <a href="" class="nav-item">game</a>
      </div>
    </nav>
  </div>

  <div class="team-profile-wrapper">

    <div class="team-profile">
      <img src="../public/assets/logo.svg" alt="" id="team">

      <!-- <div class="right"> -->
      <div class="info">
        <div class="name">Boston Celtics</div>
        <div class="desc">42 - 17 · 1st in Eastern</div>
      </div>
      <div class="stats">
        <div class="stat">
          <div class="stat-name">PPG</div>
          <div class="stat-rank">4th</div>
          <div class="stat-value">117.8</div>
        </div>
        <div class="stat">
          <div class="stat-name">PPG</div>
          <div class="stat-rank">4th</div>
          <div class="stat-value">117.8</div>
        </div>
        <div class="stat">
          <div class="stat-name">PPG</div>
          <div class="stat-rank">4th</div>
          <div class="stat-value">117.8</div>
        </div>
        <div class="stat">
          <div class="stat-name">PPG</div>
          <div class="stat-rank">4th</div>
          <div class="stat-value">117.8</div>
        </div>
      </div>
      <!-- </div> -->

    </div>
  </div>


</body>

</html>
