@use "../variables" as *;
@use "../utils" as *;
@use "../breakpoints" as *;


@mixin nav-wrapper($font-color) {
  @content;

  .nav {
    @include main-padding;
    display: flex;
    flex-direction: row;
    align-items: center;


    padding: {
      top: 1.5rem;
      bottom: 1.5rem;
    }

    ;
    max-width: $main-width-desktop;
    margin: 0 auto;
    font-family: montserrat;

    .nav-heading {
      font-size: 1.6rem;
      font-weight: 500;
    }

    .nav-heading,
    .nav-item {
      color: $font-color;
      transition: color 0.09s ease-in;
    }


    .nav-item {
      font-size: 1.2rem;
      margin-right: 1.5rem;
      font-weight: 500;
    }

    .nav-item:last-of-type {
      margin-right: 0;
    }

    .nav-items {
      margin-left: 8rem;
      // margin-left: 4rem;
      justify-self: center;
    }

    @include md() {
      .nav-heading {
        font-size: 1.75rem;
      }

      .nav-item {
        font-size: 1.3rem;
      }

      .nav-items {
        margin-left: 4rem;
      }

      padding: {
        top: 1.25rem;
        bottom: 1.25rem;
      }

      ;
    }

    @include sm() {

      .nav-heading {
        font-size: 1.5rem;
      }

      .nav-item {
        font-size: 1.2rem;
        margin-right: 1rem;
      }

      .nav-items {
        margin-left: 1rem;
      }

    }
  }
}



@mixin pink-nav() {
  @include nav-wrapper(black) {
    background: linear-gradient(90deg, rgba(247, 37, 133, 0.2), rgba(247, 37, 133, 0.1));
  }

  .nav-item:hover,
  .nav-heading:hover {
    color: #35091b;
  }
}
