@use "../variables" as *;
@use "../components/scrollbar" as *;
@use "../utils" as *;
@use "../breakpoints" as *;
@use "../colors" as *;


@mixin stats-table-wrapper($caption-bg, $content-bg, $cell-bg, $caption-col, $headers-col, $content-col ) {
  @include main-padding();

  $table-padding-horizontal: 1rem;
  $table-padding-vertical: .75rem;

  $first-column-padding-side: 1rem;

  * {
    font-family: poppins;
  }

  a,
  a:visited,
  a:active {
    color: $link-color;
  }

  .table-heading {
    padding: $table-padding-vertical $table-padding-horizontal;
    color: $caption-col;
    font-weight: 700;
    font-size: 1rem;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    text-align: left;
    background-color: $caption-bg;
  }

  .stats-table-content-wrapper {
    overflow-x: auto;
    padding: $table-padding-vertical $table-padding-horizontal;
    background: $content-bg;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    @include scrollbar();

  }

  table {
    overflow-x: scroll;
    border-collapse: separate;
    border-spacing: 0 .5rem;
    width: 100%;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;


    th,
    td {
      min-width: 50px;
      white-space: nowrap;

    }

    thead {
      th {
        font-size: .9rem;
        font-weight: 400;
        color: $headers-col;
        text-align: left;
      }

      th:first-child {
        padding-right: 2rem;
        padding-left: $first-column-padding-side;
      }

    }


    tbody {

      .table-link {
        display: flex;
        align-items: center;

        .table-image {
          margin-right: .5rem;
          border-radius: 4444rem;
          $size: 25px;
          height: $size;
          background-color: rgb(211, 211, 211);
          width: $size;
          object-fit: cover;
        }

        .team-image {
          background-color: unset;
        }

      }

      tr {
        background-color: transparent;

        td {
          padding: {
            top: .5rem;
            bottom: .5rem;
          }

          font-size: .9rem;
          background-color:$cell-bg;
        }

        td:first-child {
          font-weight: 500;
          padding-left: $first-column-padding-side;
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        td:last-child {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          padding-right: $first-column-padding-side;
        }

      }
    }
  }

  @include sm() {
    .table-heading {
      font-size: .9rem;
    }

    thead {
      th {
        font-size: .8rem;
      }
    }
  }
}
