<div class="nav-wrapper">

  <nav class="nav">
    <a href="/" class="nav-heading">statspage</a>
    <div class="nav-items">
      <a href="/teams" class="nav-item">teams</a>
      <!-- <a href="" class="nav-item">players</a>
      <a href="" class="nav-item">game</a> -->
    </div>
  </nav>
</div>
