<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/page/errors.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

</head>

<body>
  <div class="gradient-wrapper">

    <div class="nav-wrapper">

      <nav class="nav">
        <a class="nav-heading">statspage</a>
        <div class="nav-items">
          <a href="" class="nav-item">teams</a>
          <a href="" class="nav-item">players</a>
          <a href="" class="nav-item">game</a>
        </div>
      </nav>
    </div>

    <div class="error">
      <div class="heading"><%= error.name %></div>
      <div class="desc"><%= error.desc %></div>
    </div>

  </div>


</body>

</html>
